@font-face {
  font-family: "din-condensed";
  src: url(../fonts/D-DINCondensed.otf);
}
@font-face {
  font-family: "din-condensed-bold";
  src: url(../fonts/D-DINCondensed-Bold.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-colour: #fbbfec;
  --text-hover: #8ad3ff;
}

.dark {
  --background-colour: #383838 !important;
}

body {
  color: white;
  font-family: "din-condensed-bold";
}

.nav_bar {
  background: var(--background-colour);
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 0.1em 1.9em !important;
}
.nav_bar__logo a {
  display: flex;
  align-items: center;
}
.nav_bar__logo img {
  height: 3em;
}
.nav_bar__navigation {
  height: 100%;
}
.nav_bar__list {
  display: flex;
  list-style-type: none;
  margin: 0 50px;
  height: 100%;
}
.nav_bar__link {
  font-size: 17px;
  letter-spacing: 1px;
  height: 100%;
}
.nav_bar__link a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 15px;
}
.nav_bar__link a:hover {
  color: var(--text-hover) !important;
}
.nav_bar__link:hover > .nav_bar__drop_down_list {
  display: flex;
}
.nav_bar__drop_down_list:hover {
  display: flex !important;
}
.nav_bar__drop_down::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  cursor: pointer;
  padding-left: 10px;
  font-size: 0.8em;
  content: "\f078";
}
.nav_bar__drop_down_list {
  display: none;
  list-style-type: none;
  flex-direction: column;
  position: absolute;
  top: calc(3em - 2px);
}
.nav_bar__drop_down_list_item > a {
  background-color: var(--background-colour);
  padding: 25px 30px 25px 10px;
  width: 155px;
}
.nav_bar__shop {
  display: flex;
  justify-content: flex-end;
}
.nav_bar__toggle_colour {
  cursor: pointer;
}
.nav_bar__toggle_colour img {
  height: 1.6em;
}
.nav_bar__currency {
  display: flex;
  align-items: center;
}
.nav_bar__currency a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s ease;
  padding: 0 10px;
  font-size: 1.2em;
}
.nav_bar__currency a:hover {
  color: var(--text-hover);
}
.nav_bar__shopping_cart img {
  height: 1.6em;
}

.shop_title {
  background: var(--background-colour);
  line-height: 1.4em;
  letter-spacing: 1px;
  font-size: 4.5em;
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.shop_layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media only screen and (max-device-width: 1920px) {
  .shop_layout {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.product_card {
  text-decoration: none;
  position: relative;
  overflow: hidden;
  display: flex;
  width: 100%;
}
.product_card:hover .product_card__image {
  transform: translateX(-100%);
}
.product_card:hover .product_card__tag {
  opacity: 1;
}
.product_card__image {
  min-width: 100%;
  transition: transform 600ms cubic-bezier(0.57, 0.06, 0.05, 0.95);
}
.product_card__tag {
  background: white;
  color: #fbbfec !important;
  position: absolute;
  bottom: 50px;
  left: 0px;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  opacity: 0;
  transition: 0.2s ease;
}
.product_card__name {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
.product_card__price {
  font-family: "din-condensed" !important;
}/*# sourceMappingURL=style.css.map */